In [7]:
import pandas as pd
import numpy as np
data=pd.read_excel('C:/Users/Ajaz/Desktop/Autoono/Salesfeedback 2.5 Anwar.xlsx')
#data[['Timestamp', 'Shop Name', 'shop location', 'neighborhood name','Store manager name', 'Mobile number', 'Did he purchase any product?','Is it located on the map?']].head(1)

In [8]:
df=data[['Caliber / Quantity / Price']]
df2 = df.assign(Price_10_30 = None,Quantity_10_30=None)
df2=df2.rename(columns={"Caliber / Quantity / Price":"Caliber_Quantity_Price", "Price_10_30":"Price_10_30","Quantity_10_30":"Quantity_10_30"})
df3['Caliber_Quantity_Price']=df2['Caliber_Quantity_Price']
df= df.dropna()

In [3]:
dict1= {'Caliber_Quantity_Price': None ,'Price 10/30': [0], 'Quantity 10/30':[10]}
df3 = pd.DataFrame(dict1)
Caliber_Quantity_Price: None 
Price_10_30=None
Quantity_10_30=None

In [4]:
new_row = {'Price 10/30':Price_10_30 , 'Quantity 10/30':Quantity_10_30}

In [5]:
#converting inorder to add to dataframe
row_df = pd.DataFrame([new_row])
row_df

  Price 10/30 Quantity 10/30
0        None           None

In [18]:
#Original Dataframe
df = df.append(row_df, ignore_index=True)
df

             Caliber / Quantity / Price Price 10/30 Quantity 10/30
0                      10/30 1ك 270ريال         NaN            NaN
1            10/30 2ك 366 مع عرض مجنتيك         NaN            NaN
2                      20/50 6ك 275ريال         NaN            NaN
3           10/30 3ك 360ريال\n20/50 1ك          NaN            NaN
4   10/30 5ك 180ريال ناقص عليه وماعندي          NaN            NaN
5           10/30 2ك 360ريال\n20/50 2ك          NaN            NaN
6                20/50 3ك 270ريال مطلوب         NaN            NaN
7           10/30 2ك 360ريال\n20/50 2ك          NaN            NaN
8   10/30 3ك 384ريال مع العرض\n20/50 3ك         NaN            NaN
9                                   NaN         NaN            NaN
10                                  NaN         NaN            NaN
11                                  NaN         NaN            NaN
12                                  NaN         NaN            NaN
13                                  NaN         NaN            NaN
14                                  NaN         NaN            NaN
15                                  NaN         NaN            NaN
16                                  NaN         NaN            NaN
17                                  NaN         NaN            NaN
18                                  NaN        None           None

In [ ]:
df = pd.DataFrame(df['Caliber / Quantity / Price'].str.split('\n',1).tolist(),columns = ['Price 10/30','Quantity 10/30'])

In [ ]:
dict1= {'Caliber_Quantity_Price': None ,'Price 10/30': [0], 'Quantity 10/30':[10]}
df3 = pd.DataFrame(dict1)

In [ ]:
#these values must be filled based on the condition
Price_10_30=None
Quantity_10_30=None

In [ ]:
#for checking the code is in 10/30 or not
if 'TenThirty' in b:
    print('Its TenThirty')
    code=7
else:
    print('No TenThirty')
    code=0

In [ ]:
code=0
d= 'Tenthirty'
for d in b:
    code=7
    print(d)
    
    
print('Code:'+ str(code)) 

if code==7:
    for d in b:
        10/30=10_30,
        Price= price,
        Quantity=quant
        
        
        
        
        
        print()
        #'10/30':[None], 'Price': [10], 'Quantity':[10]

In [ ]:
#data[['oil type','Caliber / Quantity / Price', 'oil type.1', 'Oil', 'oil type.2','Caliber / Quantity / Capacity', 'oil type.3',       'Caliber / Quantity / Price.1', 'oil type.4']].head(2)

In [ ]:
'10/30 3ك 360ريال\n20/50 1ك'.split('\n')

In [ ]:
'20/50 1ك'.replace('ك','')

In [ ]:
'10/30 3ك 360ريال'.replace('ك','')

In [ ]:
'10/30 3ك 360ريال'.replace('ريال',' ')

In [ ]:
'10/30 3ك 360 '.replace('ك',' ')

In [ ]:
'10/30 3  360 '.replace('10/30', 'TenThirty')

In [ ]:
'20/50 1'.replace('20/50', 'TwentyFifty')

In [ ]:
'10/30 3ك 360ريال\n20/50 1ك'.split('ك')

In [ ]:
'10/30 3ك 360ريال\n20/50 1ك'.replace('ك','x')

In [ ]:
'10/30 3ك 360ريال\n20/50 1ك'.replace('\n','  ')

In [ ]:
'10/30 3x 360ريال\n20/50 1x'.rstrip('x')

In [ ]:
'10/30 3x 360ريال\n20/50 1'.split('\n')

In [ ]:
'10/30 3', ' 360ريال\n20/50 1'.replace('ريال','')

In [ ]:
'10/30 3 360\n20/50 1'.replace('10/30', 'TenThirty')

In [ ]:
'TenThirty 3 360\n20/50 1'.replace('20/50', 'TwentyFifty')

In [ ]:
df

In [ ]:
'10/30 1ك 270ريال'.rstrip('ك')

In [ ]:
def removela(x):
    print('\n')
    print('Value Before:  '+x+'\n')
    return x.replace('ك', '')
    print('Value After:   '+x )

In [ ]:
df['Caliber_Quantity_Price']=df['Caliber_Quantity_Price'].apply(removela)

In [ ]:
df['test']=df[['Caliber_Quantity_Price']]
df[['test']]

In [ ]:
df['test']=df[['Caliber_Quantity_Price']]

In [ ]:
df1= df[['test']]
df1

In [ ]:
df[['test']]

In [ ]:
def cleaning6(x):
    x= x.replace('\n', '@')
    return x

In [ ]:
def cleaning1(x):
    x=x.split('\n')
    return x

In [ ]:
def cleaning1(x):
    return x.replace('ك','')

In [ ]:
def cleaning2(x):
    return x.replace('ريال',' ')

In [ ]:
def cleaning3(x):
    return x.replace('10/30', 'TenThirty')

In [ ]:
def cleaning4(x):
    return x.replace('20/50', 'TwentyFifty')

In [ ]:
df['test']= df['test'].apply(cleaning1)
df['test']= df['test'].apply(cleaning2)

In [ ]:
df['test']= df['test'].apply(cleaning3)
df['test']= df['test'].apply(cleaning4)

In [ ]:
df['test']= df['test'].apply(cleaning2)

In [ ]:
def cleaning5(x):
    return x.split(' ')

In [ ]:
df['test']= df['test'].apply(cleaning5)

In [ ]:
df[['test']]

In [ ]:
"We will further proceed from here"
"I will use regular expression to filter out the string"

In [ ]:
df['test'][2][0:-1]

In [ ]:
import re
if re.match("^[A-Za-z0-9_-]*$", 'TenThirty', '2', '366', 'مع', 'عرض'):
    print(sucess)
#[^[a-zA-Z0-9_.-]*$]

In [ ]:
df['Caliber_Quantity_Price']

In [ ]:
df[['Caliber_Quantity_Price']]

In [ ]:
def hour(x):
    return x.split(' ')[0][0:-1]

In [ ]:
'2h 50m'.split(' ')[1][0:-1]

In [ ]:
train_data['Duration_hours']=train_data['Duration'].apply(hour)

In [ ]:
'10/30 1ك 270ريال'.rstrip('ك')

In [ ]:
s = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t', np.nan])
print(s)
s.str.rstrip('.!? \n\t')

In [ ]:
'2h 50m'.split(' ')

In [ ]:
'20/50 6ك 275ريال'.split(' ')

In [ ]:
'20/50 6ك 275ريال'.split()

In [ ]:
['20/50 6ك 275ريال'].str.split()

In [ ]:
df['content'].str.extract('(?P<date>[\s\S]+) - (?P<message>[\s\S]+)',expand=True)

In [ ]:
df[['date','message']] = df['content'].str.split('\s+-\s+', expand=True)
print (df)

In [ ]:
df[['street', 'city', 'state']] = df['address'].str.split(',\s+', expand=True)
df[['street', 'city', 'state']] = df['address'].str.split(',\s+', expand=True)

In [ ]:
df[["City", "State", "Country"]] = df["target"].str.split(pat=",", expand=True)

In [ ]:
df[['City, State, Country']].apply(lambda x: pd.Series(str(x).split(',')))

In [ ]:
df[["City", "State", "Country"]] = df["target"].str.split(pat=",", expand=True)

In [ ]:
import re
print(bool(re.replace("^[A-Za-z0-9]*$", 'aValidString123'),'111111111111'))
print(bool(re.match("^[A-Za-z0-9_-]*$", 'inv@lid')))

In [ ]:

print(bool(re.match("^[\u0621-\u064A]+$", 'عليوماعند')))

In [ ]:
import re
s=' عليوماعند ajaz ###'
re.sub(r'[^[\u0621-\u064A]+$]', ' ', s)